/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/contact/contact.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.contact_container__YiPjV {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  .contact_imgContainer__KWggJ {
    flex: 1;
    height: 500px;
    position: relative;
  }
  
  .contact_img__F_F61 {
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .contact_formContainer__BJyyH {
    flex: 1;
  }
  
  .contact_form__wCApJ {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact_form__wCApJ input,
  .contact_form__wCApJ textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
  }
  
  .contact_form__wCApJ button {
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .contact_container__YiPjV {
      flex-direction: column;
    }
  }
